@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* nav-bar */
.nav-ber-section{
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px auto;
}
.nav-bar-items{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 32px;
 }
.logo{
  display: flex;
  align-items:center; 

}
.logo-title{
  font-size: 2rem;
  font-weight: 800;
  color: #111111;
}
.item-1{
  font-size: 1.25rem;
  font-weight: 700;
  color: #FEA301;
  text-decoration: none;
  
}
.item-2{
  font-size: 1.25rem;
  font-weight: 500;
  color:#01ACFD;
  text-decoration: none;
}
.item-3{
  font-size: 1.25rem;
  font-weight: 500;
  color:#05D4DF;
  text-decoration: none;
}
.item-4{
  font-size: 1.25rem;
  font-weight: 500;
  color:#5D58EF;
  text-decoration: none;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary{
  padding: 10px 60px;
  background-color: #FEA301;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  color:white;
  border: none;
}
.menu-btn{
  height: 30px;
  width: 30px;
  margin: 0 auto;
  padding: 10px 5px;
  
  display: none;
}
/* banner-section */
.banner-title-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-heading{
  padding: 122px 50px 122px 10px;
}
h1{
  font-weight: 700;
  font-size: 3.50rem;
  color: #111111;
  margin-top: 0;
  margin-bottom: 0;
}
.yellow{
  color: #FEA301;
}
.blue{
  color: #01ACFD;
}
.description{
  font-size: 1.25rem;
  font-weight: 400;
  color: #111111;
}
.btn-black{
  background-color: #111111;
  color: #FFFFFF;
  padding: 10px 47px;
  border-radius: 12px;
}
.image{
  width: 100%;
}
/* card-section*/
h3{
  font-size: 2.80rem;
  font-weight: 700;
  color: #000000;
}
h3{
  font-size: 2.50rem;
  font-weight: 700;
  color: #202020;
}
.card-discription{
  font-size: 0.90rem;
  font-weight: 500;
  color:#808080;
}
.header{
  text-align: center;
  margin: 70px 0;
}
.card-1{
  height: 340px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #DEF5FF;
  padding: 20px 10px ;
  border-radius: 18px;
  box-shadow: inset 1px 20px 50px 20px #bbd9e6;

}
.card-2{
  height: 340px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #e1b398;
  padding: 20px 10px ;
  border-radius: 18px;
  box-shadow: inset 1px 15px 50px 1px #e1b398;

}

.card-3{
  height: 340px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #CA92FF;
  padding: 20px 10px;
  border-radius: 18px;
  box-shadow: inset 1px 15px 50px 1px #CA92FF;
}
.cards{
  display: flex;
  justify-content:center;
  text-align: center;
  gap: 25px;
}
.btn-1{
  font-size: 0.90rem;
  font-weight: 700;
  color:#64C8FF;
  border: none;
  background-color: #FFFFFF;
  margin-top: 24px;
}
.btn-2{
  font-size: 0.90rem;
  font-weight: 700;
  color: #F0AA00;
  border: none;
  background-color: #FFFFFF;
  margin-top: 32px;
}
.btn-3{
  font-size: 0.90rem;
  font-weight: 700;
  color:#8700FF;
  border: none;
  background-color: #FFFFFF;
  margin-top: 32px;
}
.btn-curcales{
  text-align: center;
  margin: 70px 0;
}
.btn-curcale{
  font-size: 1.50rem;
  background-color: #FEA301;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  color: white;
}
/* story-section */
.sub-story-3{
  display: none;
}
.sub-story-4{
  display: none; 
}
.stories-section{ 
}
.stories-header{
  text-align: center;
}
.our-stories{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.sub-storys{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  

}
.stories-header{
  font-weight: 700;
  font-size: 2.90rem;
  color: #000000;
}
.main-story, 
.sub-story-1, 
.sub-story-2, 
.sub-story-3, 
.sub-story-4, 
.sub-story-5, 
.sub-story-6{
  border-radius: 16px;
  border: none;
}

.main-image, 
.sub-image-1, 
.sub-image-2, 
.sub-image-3, 
.sub-image-4, 
.sub-image-5, 
.sub-image-6 {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.main-btn{
  background-color: #3CD8E8;
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFF;
  padding: 15px 19px;
  border-radius: 48px;
  border: none;
  position: relative;
  left: 70px;
  bottom: 28px;
}
.main-heading{
  font-weight: 700;
  font-size: 1.50rem;
  color: #000000;
  margin-top: 0%;
  margin-left: 35px;

}
.main-paragrph{
  font-weight: 500;
  font-size: 0.93rem;
  color: #666666;
  margin-top: 0%;
  margin-left: 38px;
  border: none;
}
.sub-btn-1{
  background-color: red;
  padding: 9px 18px;
  color: #FFFFFF;
  border-radius: 48px;
  border: none;
  position: relative;
  left: 40px;
  bottom: 22px;
}
.sub-description-1, 
.sub-description-2, 
.sub-description-5, 
.sub-description-6{
  font-weight: 700;
  font-size: 0.90rem;
  color: #000000;
  margin: 0 15px 20px 15px;
}
.sub-btn-2{
  background-color: #5D58F0;
  padding: 9px 19px;
  color: #FFFFFF;
  border-radius: 48px;
  border: none;
  position: relative;
  left: 40px;
  bottom: 22px;
}

.sub-btn-5{
  background-color: green;
  padding: 9px 19px;
  color: #FFFFFF;
  border-radius: 48px;
  border: none;
  position: relative;
  left: 40px;
  bottom: 22px;
}

.sub-btn-6{
  background-color:darkred;
  padding: 9px 19px;
  color: #FFFFFF;
  border-radius: 48px;
  border: none;
  position: relative;
  left: 40px;
  bottom: 22px;
}
.story-button{
  text-align: center;
}
/* footer-section */
.kid-education{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #01ACFD;
}
.education{
  border: 1px solid #FFFFFF;
  padding: 25px 60px 80px 60px;
  border: none;
}

.img-title{
  display: flex;
}
.edu-image{
  height: 85px;
  width: 82px;
  margin-top: 55px;

}
.edu-title{
  font-size: 2.60rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 0;
}

.edu-description{
  font-size: 1.25rem;
  font-weight: 400;
  color: #FFFFFF;
}
.school{
  border: 1px solid #FFFFFF;
  padding: 25px 60px 50px 60px;
  border: none;
}
.list-teams{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-title{
  font-size: 1.50rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 40px;
}
.about-list{
  list-style: none;
}
.school-nav{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: #FFFFFF;
}
.title{
  font-size: 1.75rem;
  font-weight: 700;
  color: #FFFFFF;
}
.web-site-icon{
  border: 1px solid #FFFFFF;
  padding: 25px 60px 50px 60px;
  border: none;
}

@media screen and (max-width:576px) {
  .logo-title, .nav-bar-items, .btn-primary{
    display: none;
  }
  .nav-ber-section{
    border-bottom:1px solid #FEA301;
    justify-content: space-between;
  }
  .menu-btn{
    display: block;
  }
  .banner-title-section{
    flex-direction: column-reverse;
  }
  h1{
    font-size: 2rem;
  }
  .image{
  width: 90%;
  padding: 0 5px 0 5px;
  }
  .banner-heading{
    width: 80%;
    text-align: center;
    padding:50px;
  }
  .header{
    margin:0 0 20px 0;
  }
  .cards{
    flex-direction: column;
  }
  .btn-curcales{
    display: none;
  }
  .main-story{
    display: none;
  }
  .sub-story-3{
    display: block;
  }
  .sub-story-4{
    display: block; 
  }
  .sub-btn-1, 
  .sub-btn-2, 
  .sub-btn-3, 
  .sub-btn-4, 
  .sub-btn-5, 
  .sub-btn-6{
    position: relative;
    left: 18px;
}
.story-button{
 margin: 30px auto;
}
.kid-education{
grid-template-columns: repeat(1, 1fr);
}
.education{
  padding-left: 34px;
  padding-bottom: 2px;
}
.school{
  padding-left:0;
  padding-top: 2px;
  padding-bottom: 0;
}
.web-site-icon{
  padding-top: 0;
  padding-left: 35px;
}
}